.container {
  background-color: #282c34;
  display: grid;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  background-image: url(../../../assets/background/atlantis.jpg);
}

.headline {
  color: #5d6d72;
  text-align: center;
}

@font-face {
  font-family: 'stargate-glyphs';
  src: url('../../../assets/fonts/stargate-glyphs.eot')
      format('embedded-opentype'),
    url('../../../assets/fonts/stargate-glyphs.woff') format('woff'),
    url('../../../assets/fonts/stargate-glyphs.ttf') format('truetype');
}

.inputField[type='text'] {
  font-family: 'stargate-glyphs', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgb(151, 48, 48);
  background-color: rgba(240, 255, 255, 0.685);
  font-size: 2rem;
  border: soli #61dafb;
  border-radius: 50px;

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(255, 230, 0, 0.3);
}
.logInButton {
  font-size: 2rem;
  color: #0ecbff;
  background-color: rgba(240, 255, 255, 0.685);
  border: soli #61dafb;
  border-radius: 50px;
}

/* _____________________Logo________________________ */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* _____________________Logo_Ende_______________________ */
